<div class="col-lg-12">
    <div class="col-lg-4">
        <br/>
        <br/>
        <h1>Register</h1>
        <hr/>
        <form method="post" action="/Account/Register">
            <fieldset>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Name</label>
                <input type="text" name="name" class="form-control" placeholder="Name">
            </div>

            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username">
            </div>

            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>

            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Confirm Password</label>
                <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password">
            </div>

            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Email</label>
                <input type="text" name="email"  class="form-control" placeholder="Email">
            </div>

            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Phone Number</label>
                <input type="text" name="phoneNumber" class="form-control" placeholder="Phone Number">
            </div>
            <br/>
            <button type="submit" class="btn btn-primary">Register </button>
            </fieldset>
        </form>
    </div>
</div>