<br/>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div class="col-sm-10"><h1> <?= $data['name'] ?> </h1></div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-4"><!--left col-->
            <br/>
            <ul class="list-group">
                <li class="list-group-item text-muted">Profile Information</li>
                <li class="list-group-item text-left"><span class="pull-right"><strong>Username: </strong></span> @<?= $data['username'] ?></li>
                <li class="list-group-item text-left"><span class="pull-right"><strong>Email: </strong></span> <?= $data['email'] ?></li>
            </ul>
        </div><!--/col-3-->
    </div><!--/row-->
</div>
